{% extends 'base.html' %}
{% block content %}

<div class="form-container">
    <h2 class="login-title">Connexion</h2>

    <form method="post">
        {% csrf_token %}
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" name="username" required>

        <label for="password">Mot de passe :</label>
        <input type="password" name="password" required>

        {% if messages %}
            {% for message in messages %}
                <div class="message {{ message.tags }} centered-message">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <button type="submit" class="btn-primary">Se connecter</button>
    </form>

    <div class="register-link" style="text-align: center; margin-top: 1rem;">
        Pas encore de compte ? <a href="{% url 'register' %}" style="color:#d35400; font-weight: bold;">Créer un compte</a>
    </div>
</div>

{% endblock %}
